<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- Style CSS -->
    <link rel="stylesheet" href="../css/style.css" />

    <title><%= prodName %></title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-dark bg-dark fixed-top navbar-height">
      <div class="container-fluid">
        <a class="navbar-brand" href="home">
          <img
            src="../images/watch-high-resolution-logo-white-transparent.png"
            alt="WatchShop Logo"
            class="navbar-img"
        /></a>
      </div>
    </nav>

    <!-- Product Detail Content -->
    <!-- Main container for product details. Top margin added for spacing due to fixed navbar -->
    <div class="container mt-5 pt-5">
      <div class="row justify-content-center">
        <!-- Responsive column size, centers the card on medium devices and larger -->
        <div class="col-md-6">
          <!-- Card container for product information -->
          <div class="card shadow">
            <!-- Product image with dynamic source path -->
            <img
              src="../images/<%= image_url %>"
              class="card-img-top card-img-size-sm"
              alt="<%= prodName %> Image"
            />
            <!-- Body container for text and interactive elements -->
            <div class="card-body text-center">
              <h1 class="card-title" id="product"><%= prodName %></h1>
              <p class="card-text"><%= description %></p>
              <h2 class="text-primary" id="price">€<%= price %></h2>
              <p class="fw-bold">Category: <%= category %></p>
              <select
                name="quantity"
                id="quantity"
                class="form-select mt-3 mb-4"
              >
                <!-- Dropdown for selecting product quantity -->
                <option value="0">0</option>
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
              <!-- Button triggers JavaScript function to add product to cart -->
              <button onclick="addToCart()" class="btn btn-success">
                Add to Cart
              </button>
              <!-- Link to navigate back to the home page -->
              <a href="home" class="btn btn-outline-secondary"
                >Back to Home Page</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="bg-dark text-center text-white py-3">
      <div class="text-center p-3">© 2024 WatchShop: All rights reserved</div>
    </footer>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <!-- Add to Cart -->
    <script src="../scripts/addToCart.js"></script>
  </body>
</html>
